@import url('https://fonts.googleapis.com/css2?family=Anton&family=Comfortaa:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.roboto-gfont1 {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: 100;
    font-size: 15px;
    line-height: 2em;
    color: #333;
}

.anton-regular {
    font-family: "Anton", serif;
    font-weight: 400;
    font-style: normal;
  }

  .roboto-gfont2 {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  @media (max-width:600px){

    .left-col-block{
      width: 100%;
      position: relative;
    }
    .right-col-block{
      width:100%;
      position: relative;
    }
    header{
      height:70vh;
    }
    iframe {
      width: 100%;
      position: relative;
    }
    
    /* .custom-container{
      position: relative !important;
      width: 100% !important;
    } */
    nav li a {
      margin-right: 10px !important;
      font-size: small !important;
      /* text-align: center; */
    }
    nav ul{
      /* padding-left:0  !important; */
      padding:0px !important;
    }
  }

  header{
    padding: 0;
    margin: 0;
    height: 100vh;
    vertical-align: middle;
    position: relative;
  }

  .columns-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .left-col-block{
    width: 30%;
    text-align: center;
    overflow:hidden;
    position: fixed;
    left: 0;
  }

  .right-col-block{
    width: 70%;
    position: absolute;
    right: 0;
  }

 
  .header .profile-img{
    position: absolute;
    left: 0;
    top: 0;
    z-index:-1;
    width: 100%;
    height: 100%;
    background-image: url(/assets/img/WhatsApp\ Image\ 2024-01-25\ at\ 19.52.12_39fc3cc2.jpg);
    background-size: cover;
    background-position: center;
  }

  .header .profile-img:before{
    content:"";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(-20deg,
    hsla(20, 92%, 40%, 0.5) 0%, rgba(208, 84, 6, 0.5)20%, transparent 30%,
    transparent 100%);
  }

  .header .content {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width:100%;
    margin:0 auto;
    padding: 10px;
    /* backdrop-filter: blur(2px) saturate(80%); */
  }

.header .content h1{
  font-size:36px ;
  color: white;
  line-height: 1;
  margin: 0;
}

.header .content p{
  font-size: 20px;
  color: white;
}

 .header .content .social-icon{
  margin: 0;
  padding: 0;
  display: block;
  }

  .header .content .social-icon li{
    display: inline-block;
    margin: 0 5px;
  }

  .header .content .social-icon li a{
    display: block;
    font-size: 20px;
    color: #fff;
    height: 40px;
    width: 40px;
    line-height: 35px;
    text-align: center;
  }

  header .content .social-icon li a:hover{
    border-radius: 100%;
    border:2px solid #fff;
  }

  .section-wrapper{
    padding: 50px;
  }
  .section-title h2{
    color: #333333ee;
  }
  .mud-bg{
    background-color: #f8c06661;
  }
  .section-title{
    margin-bottom: 30px;
    font-weight: 400;
  }
  .expertise{
    margin-bottom: 30px;
    font-weight: 400;
    color: #333333da;
  }
  .expertise-item {
    margin-bottom: 30px;
    color: #333333c8;
  }
  .expertise-item h5 {
    margin-bottom: 10px;
    font-weight: 500;
  }
  .expertise-item p {
    font-size: small;
  }
  .progrss-title{
    font-size: small;
    font-weight: 400;
    line-height: 2em;
  }

  .c-progrss-bar{
    margin-bottom: 20px;
  }

  .progerss-bg { 
    background-color: #b15b10bd !important;
    border-radius: 8px;
  }

  .c-accordion-item button{
    background-color: #b15b1095;
    color: white !important;
  }
  .c-accordion-title{
    color: white;
  }
  .accordion-item button:focus {
    color: #333333ee !important;
    background: #b15b107f;
  }
  .fbd{
    word-spacing: 10px;
  }
  .carousel-para {
    background-color: #b15b107f;
    backdrop-filter: blur(5px) saturate(80%);
    font-size: large;
    border-radius: 3px;
  }
  .c-button {
    background-color: #b15b10a9 !important;
    border:1px #b15b10a0 !important;
    margin-bottom: 10px;
  }
  nav{
    padding-top: 10px;
    background-color:#f8c06683 ;
  }

  nav .logo a {
   
    font-weight: 200;
    color: #333333ee;
    text-decoration: none;
  }
  nav li {
    list-style: none;
    display: inline-block;
  }
  nav li a {
    font-size: 17px;
    color: #333333ee;
    font-weight: 300;
    font-family: "Roboto", serif;
    margin-right: 50px;
    text-decoration: none;
  }
  nav li a:hover{
    color: #ffffffc7;
  }
  nav ul {
    margin: 0;
  }
  footer {
    background-color: rgba(52, 34, 2, 0.909);
    text-align: center;
  }
  footer p{
    margin: 0 !important;
    font-size: xx-small;
    color: whitesmoke;
  }
