@import url('https://fonts.googleapis.com/css2?family=Anton&family=Comfortaa:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.roboto-gfont1 {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    font-size: 15px;
    line-height: 2em;
    color: #333;
    background-color: #fff;
}

.anton-regular {
    font-family: "Anton", serif;
    font-weight: 400;
    font-style: normal;
  }

  .roboto-gfont2 {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  header{
    padding: 0;
    margin: 0;
    height: 100vh;
    vertical-align: middle;
    position: relative;
  }

  .columns-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .left-col-block{
    width: 30%;
    text-align: center;
    overflow:hidden;
    position: fixed;
    left: 0;
  }

  .right-col-block{
    width: 70%;
    position: absolute;
    right: 0;
  }

  .header .profile-img{
    position: absolute;
    left: 0;
    top: 0;
    z-index:-1;
    width: 100%;
    height: 100%;
    background-image: url(/vishnuponoli-portfolio2/assets/img/WhatsApp\ Image\ 2024-01-25\ at\ 19.52.12_39fc3cc2.jpg);
    background-size: cover;
    background-position: center;
  }

  .header .profile-img:before{
    content:"";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(-20deg,
    hsla(20, 92%, 40%, 0.5) 0%, rgba(208, 84, 6, 0.5)20%, transparent 30%,
    transparent 100%);
  }

  .header .content {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width:100%;
    margin:0 auto;
    padding: 10px;
    /* backdrop-filter: blur(2px) saturate(80%); */
  }

.header .content h1{
  font-size:36px ;
  color: white;
  line-height: 1;
  margin: 0;
}

.header .content p{
  font-size: 20px;
  color: white;
}

 .header .content .social-icon{
  margin: 0;
  padding: 0;
  display: block;
  }

  .header .content .social-icon li{
    display: inline-block;
    margin: 0 2px;
  }

  .header .content .social-icon li a{
    display: block;
    font-size: 15px;
    color: #fff;
    height: 35px;
    width: 35px;
    line-height: 32px;
    text-align: center;
    border-radius: 100%;
    border:1px solid #989898;
  }

  header .content .social-icon li a:hover{
    border:1px solid #fff;
  }

  .section-wrapper{
    padding: 50px;
  }
  .section-title h2{
    color: #333333ee;
  }
  .mud-bg{
    background-color: #f8c06661;
  }
  .section-title{
    margin-bottom: 30px;
    font-weight: 400;
  }
  .expertise{
    margin-bottom: 30px;
    font-weight: 400;
    color: #333333da;
  }
  .expertise-item {
    margin-bottom: 30px;
    color: #333333c8;
  }
  .expertise-item h5 {
    margin-bottom: 10px;
    font-weight: 500;
  }
  .progrss-title{
    font-size: small;
    font-weight: 400;
    line-height: 2em;
  }

  .c-progrss-bar{
    margin-bottom: 20px;
  }

  .progerss-bg { 
    background-color: #b15b10bd !important;
    border-radius: 8px;
  }

  .c-accordion-item button{
    background-color: #b15b1095;
    color: white !important;
  }
  .c-accordion-title{
    color: white;
  }
  .accordion-item button:focus {
    color: black !important;
    background: #b15b107f;
  }
  .fbd{
    word-spacing: 10px;
  }
  